* {
    margin: 0;
    padding: 0;
}

nav a img{
    width: 200px;
    height: 200px;
    margin-left:0px;
    margin-left: 50px;
    
}
.logo{
    margin-left: 0;
    padding-left: 0;
    margin-right: 1300px;
}
.backg {
    background-color: rgb(255, 122, 122);
}