.Produtoimg {
    width: 400px;
    height: 400px;

}
body {
    background-color: pink;
}

.card {
    background-color: rgb(212, 121, 136);
}

.produtoAjuste {
    color: rgb(218, 255, 6);
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 50px;
}

p {
    color: white;
}