.card a{
    background-color: rgb(190, 255, 68);
    color: black;
}

.card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 118, 118);
}