.container h2 {
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 50px;
    padding-top: 100px;
}
.row2 {
    width: 400px;
    height: 600px;
    margin-left: 550px;
    display: flex;
    justify-content: center;

}
