
.parte3{
    background: rgb(187,110,161);
    background: linear-gradient(0deg, rgba(187,110,161,1) 32%, rgba(0,0,0,0.9556197478991597) 100%);
}
.parte3 h1{
    margin-left: 180px;
    margin-top: 50px;
}

    

